@font-face 
{
    font-family: neu;
    src: url(./Font/NeueMachina-Regular_DQCmjH1st.ttf);
}

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    background-color: #0C0C0C;
}

html, body
{
    width: 100%;
    height: 100%;

    nav 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 70px;

        .nav1
        {
            display: flex;
            align-items: center;
            gap: 18px;

            h4 
            {
                font-family: monospace;
                font-size: 20px;
                font-weight: 100;
                font-family: neu;
            }

            img 
            {
                height: 45px;
            }
        }
        
        
        .nav2
        {
            display: flex;
            align-items: center;
            gap: 30px;

            h4 
            {
                font-family: monospace;
                font-size: 18px;
                font-weight: 100;
            }

            img 
            {
                height: 25px;
                width: 25px;
                border-radius: 50%;
            }

        }
    }
}

