@font-face 
{
    font-family: neu;
    src: url(./Font/NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face 
{
    font-family: hell;
    src: url(./Font/Helvetica_NTUXwLmxSC.ttf);
}

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    background-color: #0C0C0C;
}

html, body
{
    width: 100%;
    height: 100%;

    nav 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 90px;

        .nav1
        {
            display: flex;
            align-items: flex-end;
            gap: 18px;

            h4 
            {
                font-family: monospace;
                font-size: 20px;
                line-height: 1.3;
                font-weight: 100;
                font-family: neu;
            }

            img 
            {
                height: 55px;
            }
        }
        
        
        .nav2
        {
            display: flex;
            align-items: center;
            gap: 65px;

            h4 
            {
                font-size: 20px;
                font-weight: 100;
                font-family: neu;

                i 
                {
                    font-size: 25px;
                }
            }

            img 
            {
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }

        }
        
        
        .nav3
        {
            display: none;
            align-items: center;
            gap: 30px;

            h4 
            {
                font-size: 20px;
                font-weight: 100;
                font-family: neu;

                i 
                {
                    font-size: 25px;
                }
            }

            img 
            {
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }

        }
    }
}

