*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
    padding: 0.5em;

    .game-container
    {
        width: 100%;
        height: 100%;
        padding: 2em;
        background-color: rgb(33, 31, 71);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        gap: 2em;

        h2 
        {
            color: white;
            font-size: 2em;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }

        .quote
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;

            .quote-box
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2em;
                .quote
                {
                    width: fit-content;
                    background-color: black;
                    border-radius: 0.5em;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1em;
                    gap: 0.5em;

                    .quote-text
                    {
                        font-size: 1.4em;
                        text-align: center;
                        line-height: 1.5;
                        text-decoration: double;
                    }

                    .quote-author
                    {
                        font-size: 1.2em;
                        text-align: center;
                        line-height: 1.5;
                        text-decoration: double;
                    }
                }

                .btns
                {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: inherit;
                    gap: 1em;

                    
                    .new-quote
                    {
                        padding: 0.5em 1.5em;
                        font-size: 1.2em;
                        border-radius: 0.5em;
                        border: 1px solid rgb(33, 31, 71);
                    }
                    .new-quote:hover
                    {
                        cursor: pointer;
                        background-color: rgb(73, 71, 104);
                        color: white;
                        border: 1px solid white;
                        scale: 1.1;
                    }

                    .copy-quote
                    {
                        padding: 0.5em 1.5em;
                        font-size: 1.2em;
                        border-radius: 0.5em;
                        border: 1px solid rgb(33, 31, 71);
                    }
                    .copy-quote:hover
                    {
                        cursor: pointer;
                        background-color: rgb(73, 71, 104);
                        color: white;
                        border: 1px solid white;
                        scale: 1.1;
                    }

                    .copy-message
                    {
                        font-size: 1.2em;
                        color: white;
                    }
                }
            }
        }

        .game
        {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5em;

            .h2
            {
                font-size: 1.5em;
                text-align: center;
                text-decoration: double;
            }

            #quoteInput
            {
                width: 100%;
                padding: 1em;
                border-radius: 0.5em;
                font-size: 1.5em;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                
            }
            #quoteInput:placeholder-shown
            {
                font-size: 1.3em;
            }

            .stats
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2em;


                p 
                {
                    color: white;
                    font-size: 1.5em;
                }
            }
        }
    }

    
}

