* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0.5em;
}
html .game-container, body .game-container {
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: rgb(33, 31, 71);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  gap: 2em;
}
html .game-container h2, body .game-container h2 {
  color: white;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html .game-container .quote, body .game-container .quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
html .game-container .quote .quote-box, body .game-container .quote .quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
html .game-container .quote .quote-box .quote, body .game-container .quote .quote-box .quote {
  width: -moz-fit-content;
  width: fit-content;
  background-color: black;
  border-radius: 0.5em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 0.5em;
}
html .game-container .quote .quote-box .quote .quote-text, body .game-container .quote .quote-box .quote .quote-text {
  font-size: 1.4em;
  text-align: center;
  line-height: 1.5;
  -webkit-text-decoration: double;
          text-decoration: double;
}
html .game-container .quote .quote-box .quote .quote-author, body .game-container .quote .quote-box .quote .quote-author {
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5;
  -webkit-text-decoration: double;
          text-decoration: double;
}
html .game-container .quote .quote-box .btns, body .game-container .quote .quote-box .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: inherit;
  gap: 1em;
}
html .game-container .quote .quote-box .btns .new-quote, body .game-container .quote .quote-box .btns .new-quote {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  border-radius: 0.5em;
  border: 1px solid rgb(33, 31, 71);
}
html .game-container .quote .quote-box .btns .new-quote:hover, body .game-container .quote .quote-box .btns .new-quote:hover {
  cursor: pointer;
  background-color: rgb(73, 71, 104);
  color: white;
  border: 1px solid white;
  scale: 1.1;
}
html .game-container .quote .quote-box .btns .copy-quote, body .game-container .quote .quote-box .btns .copy-quote {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  border-radius: 0.5em;
  border: 1px solid rgb(33, 31, 71);
}
html .game-container .quote .quote-box .btns .copy-quote:hover, body .game-container .quote .quote-box .btns .copy-quote:hover {
  cursor: pointer;
  background-color: rgb(73, 71, 104);
  color: white;
  border: 1px solid white;
  scale: 1.1;
}
html .game-container .quote .quote-box .btns .copy-message, body .game-container .quote .quote-box .btns .copy-message {
  font-size: 1.2em;
  color: white;
}
html .game-container .game, body .game-container .game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
html .game-container .game .h2, body .game-container .game .h2 {
  font-size: 1.5em;
  text-align: center;
  -webkit-text-decoration: double;
          text-decoration: double;
}
html .game-container .game #quoteInput, body .game-container .game #quoteInput {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html .game-container .game #quoteInput:-moz-placeholder-shown, body .game-container .game #quoteInput:-moz-placeholder-shown {
  font-size: 1.3em;
}
html .game-container .game #quoteInput:placeholder-shown, body .game-container .game #quoteInput:placeholder-shown {
  font-size: 1.3em;
}
html .game-container .game .correct, body .game-container .game .correct {
  border: 2px solid green;
}
html .game-container .game .incorrect, body .game-container .game .incorrect {
  border: 2px solid red;
}
html .game-container .game .stats, body .game-container .game .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
html .game-container .game .stats p, body .game-container .game .stats p {
  color: white;
  font-size: 1.5em;
}
html .game-container .game #restart, body .game-container .game #restart {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  border-radius: 0.5em;
  border: 1px solid rgb(33, 31, 71);
}
html .game-container .game #restart:hover, body .game-container .game #restart:hover {
  cursor: pointer;
  background-color: rgb(73, 71, 104);
  color: white;
  border: 1px solid white;
  scale: 1.1;
}/*# sourceMappingURL=style.css.map */