*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body
{
    width: 100%;
    height: 100%;
    padding: 1.5em;


    .Container
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        background-color: black;
        border-radius: 0.8em;

        .Color
        {
            width: 28%;
            aspect-ratio: 1 / 1;
            border: 0.7em solid #fff;
            border-radius: 50%;
        }

        .btn
        {
            padding: 0.5em 1em;
            font-size: 1.5em;
            border-radius: 0.5em;
            border: 0.1em solid black;
        }
        .btn:hover
        {
            background-color: #111;
            color: #fff;
            cursor: pointer;
            scale: 1.1;
        }

        .copy
        {
            padding: 0.5em 1em;
            font-size: 1.5em;
            border-radius: 0.5em;
            border: 0.1em solid black;
        }
        .copy:hover
        {
            background-color: #111;
            color: #fff;
            cursor: pointer;
            scale: 1.1;
        }

        .message
        {
            color: red;
        }

    }
}