:root {
    --gray: #212121;
    --lgreen: #02E797;
    --green: #009560;
    --white: #E9E9E9;
    --black: #0c0c0c;
    --lgray: #929292;
}


@font-face {
    font-family: neu;
    src: url(./Font/NeueMachina-Regular_DQCmjH1st.ttf);
}

@font-face {
    font-family: elhell;
    src: url(./Font/HelveticaNowDisplay-ExtLt_R50yORjQ9.ttf);
}

@font-face {
    font-family: hell;
    src: url(./Font/Helvetica_NTUXwLmxSC.ttf);
}

@font-face {
    font-family: hellB;
    src: url(./Font//HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: var(--white);
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

.green {
    color: var(--lgreen);
}

.lgray {
    color: var(--lgray);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    position: fixed;
    width: 100%;

    .nav1 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 18px;


        h4 {
            font-family: monospace;
            font-size: 20px;
            line-height: 1.3;
            font-weight: 100;
            font-family: neu;
        }

        img {
            height: 55px;
        }
    }

    .nav2 {
        display: flex;
        align-items: center;
        gap: 65px;

        h4 {
            font-size: 20px;
            font-weight: 100;
            font-family: neu;

            i {
                font-size: 25px;
            }
        }

        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
        }

    }

    .nav3 {
        display: none;
        align-items: center;
        gap: 30px;

        h4 {
            font-size: 20px;
            font-weight: 100;
            font-family: neu;

            i {
                font-size: 25px;
            }
        }

        img {
            height: 35px;
            width: 35px;
            border-radius: 50%;
        }
    }
}

@media (max-width: 900px) {
    nav {
        padding: 15px 15px;

        .nav1 {

            gap: 10px;

            h4 {
                font-size: 13px;
            }

            img {
                align-self: self-start;
                height: 30px;
            }
        }

        .nav2 {
            display: none;
        }

        .nav3 {
            display: flex;
            gap: 25px;

            h4 {
                i {
                    font-size: 18px;
                }
            }
        }
    }
}

main {

    padding-top: 110px;

    .section1 {

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px 90px;
        font-family: hell;

        .left {

            width: 40%;

            h1 {
                font-size: 58px;
                letter-spacing: -1px;
                line-height: 1;
            }

            .tags {

                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px 10px;
                margin: 30px 0;

                h4 {

                    background-color: var(--gray);
                    padding: 15px 25px;
                    border-radius: 4px;
                    font-size: 17px;
                    color: var(--white);
                    font-family: hell;
                    white-space: nowrap;
                }
            }

            .price {

                font-size: 45px;
                margin-top: 40px;

                .lgray {
                    font-size: 30px;
                    font-weight: 800;
                    letter-spacing: -2px;
                }
            }

            h5 {
                font-size: 18px;
                padding: 5px 0;
                color: var(--lgreen);
            }

            .cta {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 20px 0;

                button {
                    background-color: var(--green);
                    padding: 22px 70px;
                    border-radius: 5px;
                    border: none;
                    font-size: 30px;
                    white-space: nowrap;
                    cursor: pointer;
                }

                button:nth-child(2) {
                    background-color: #353535;
                }
            }

            h6 {

                font-size: 20px;
                padding: 5px 0;
                color: var(--white);

                span {
                    color: var(--lgreen);
                }
            }
        }

        .right {

            .right-in {
                width: 40vw;
                background-color: var(--gray);
                border-radius: 5px;
                overflow: hidden;

                .image {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .image-bottom {
                    padding: 20px;
                    padding-top: 40px;
                    background-color: var(--gray);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 10px;

                    h4 {

                        background-color: #151515;
                        padding: 18px 15px;
                        border-radius: 5px;
                        width: 45%;
                        color: var(--white);
                        font-size: 19px;
                    }

                    span {
                        color: var(--lgreen);
                    }
                }
            }
        }
    }

    .section2 {
        padding: 80px 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: -10px;

        h1 {
            font-family: hellB;
            font-size: 10vw;
            background: url(./assets/mask\ Large_ZB4lGN8hWZ.png);
            background-size: contain;
            background-position: center center;
            background-clip: text;
            color: transparent;
            position: relative;
            letter-spacing: -10px;
            line-height: 1.3;
        }

        .bloom {
            position: absolute;
            filter: blur(90px) saturate(1);
        }

        h3 {
            font-size: 2.5vw;
            font-family: elhell;
            text-transform: capitalize;
            letter-spacing: -1px;
            color: var(--white);
            line-height: 0.1;
        }
    }
}

@media (max-width: 1400px) {

    main {
        .section1 {
            .left {
                h1 {
                    font-size: 3.5vw;
                }

                .price {
                    font-size: 2.5vw;

                    .lgray {
                        font-size: 1.5vw;
                    }
                }

                h5 {
                    font-size: 1.5vw;
                }

                .cta {
                    button {
                        padding: 1vw 6vw;
                        font-size: 2vw;
                    }
                }

                h6 {
                    font-size: 1.5vw;
                }
            }

            .right {
                .right-in {
                    width: 40vw;
                }
            }
        }

        .section2 {

            padding: 20px 70px;

            h1 {
                letter-spacing: -5px;
            }
        }
    }
}

@media (max-width: 900px) {

    main {
        .section1 {
            padding: 20px 5vw;
            flex-direction: column-reverse;

            .left {
                width: 100%;
                margin-top: 20px;

                h1 {
                    font-size: 33px;
                }

                .tags {
                    h4 {
                        font-size: 15px;
                    }
                }

                .price {
                    font-size: 5vw;

                    .lgray {
                        font-size: 4vw;
                    }
                }

                h5 {
                    font-size: 2.5vw;
                }

                .cta {
                    button {
                        padding: 10px 40px;
                        font-size: 4vw;
                    }
                }

                h6 {
                    font-size: 2.5vw;
                }
            }

            .right {
                .right-in {
                    width: 100%;

                    .image-bottom {
                        padding: 20px;
                        padding-top: 20px;

                        h4 {

                            padding: 15px 12px;
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }

        .section2 {

            padding: 20px 70px;

            h1 {
                font-size: 12vw;
                letter-spacing: -3px;
            }

            h3 {
                font-size: 3vw;
            }
        }
    }
}

@media (max-width: 600px) {

    main {
        .section1 {
            .left {
                h1 {
                    font-size: 6vw;
                }
            }
        }

        .section2 {

            padding: 20px 0px;

            h1 {
                font-size: 15vw;
                letter-spacing: -3px;
                white-space: nowrap;
            }

            h3 {
                font-size: 4vw;
                white-space: nowrap;
            }
        }
    }
}