@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  min-height: 100vh;
  margin: 0;
  font-family: Poppins;
  color: #1E1E1E;
  background-color: #CDCDCD;
  background-image: repeating-linear-gradient(to right, transparent 0 150px, rgba(0, 0, 0, 0.0666666667) 150px 151px), repeating-linear-gradient(to bottom, transparent 0 150px, rgba(0, 0, 0, 0.0666666667) 150px 151px), linear-gradient(to right, #CDCDcc, rgba(205, 205, 205, 0.8)), url(images/bg.jpg);
}

* {
  padding: 0;
  margin: 0;
}

header {
  width: min(1200px, 90vw);
  height: 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
header h1 {
  font-family: "Karantina", system-ui;
  font-size: 16vw;
  line-height: 0.8em;
}
header .author {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .author h3 {
  font-family: "Karantina", system-ui;
  font-size: 5vw;
}
header .author div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .author div p:nth-child(2) {
  font-weight: 500;
}
header .author img {
  width: 250px;
}

.banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner .product {
  width: 500px;
  height: 500px;
  position: absolute;
  display: flex;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.7s;
  --left: 0px;
}
.banner .product .soda {
  background: var(--url) var(--left), 0, url(images/mockup.png);
  background-size: auto 100%;
  width: 280px;
  aspect-ratio: 2/4;
  background-blend-mode: multiply;
  -webkit-mask-image: url(images/mockup.png);
          mask-image: url(images/mockup.png);
  -webkit-mask-size: auto 100%;
          mask-size: auto 100%;
  transition: 0.7s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.banner .product .soda:nth-child(2) {
  opacity: 0;
}
.banner .product:hover {
  --left: -1000px;
  transform: translateX(-50%) translateY(-120px);
}
.banner .product:hover .soda:nth-child(2) {
  opacity: 1;
  --left: 500px;
}
.banner .product:hover .soda:nth-child(1) {
  opacity: 0;
  --left: 500px;
}
.banner .product:hover .rock img:nth-child(1) {
  transform: translateX(-50%) translateY(50px);
}
.banner .product:hover .rock img:nth-child(2) {
  transform: translateX(-100px) translateY(100px);
}
.banner .product:hover .rock img:nth-child(3) {
  transform: translateX(100px) translateY(100px);
}
.banner .rock {
  position: absolute;
  inset: 0 0 0 0;
  pointer-events: none;
}
.banner .rock img:nth-child(1) {
  position: absolute;
  height: 170px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  transition: 0.7s;
  z-index: 1;
}
.banner .rock img:nth-child(3) {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: -100px;
  rotate: -25deg;
  transition: 0.7s;
}/*# sourceMappingURL=style.css.map */